<ActionBar title="My App"> </ActionBar>

<GridLayout>
  <RadListView
    [items]="items"
    [groupingFunction]="myGroupingFunc"
    enableCollapsibleGroups="true"
  >
    <ListViewLinearLayout
      tkListViewLayout
      scrollDirection="Vertical"
      itemInsertAnimation="Default"
      itemDeleteAnimation="Default"
    ></ListViewLinearLayout>
    <ng-template tkListItemTemplate let-item="item">
      <StackLayout [nsRouterLink]="['/item', item.id]">
        <Label [text]="item.name" class="text-lg text-gray-500 p-4"></Label>
        <StackLayout height="1" backgroundColor="DarkGrey"></StackLayout>
      </StackLayout>
    </ng-template>
    <ng-template tkListViewHeader>
      <Label text="This is list header" class="header"></Label>
    </ng-template>
  </RadListView>
</GridLayout>
